
.booked-status {
  height: 38px;
  width: 120px;
  max-width: 100%;
  font-size: 9px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
}

.status-booked-user {
  background: rgb(57, 226, 147);
  margin-top: -1px;
  margin-bottom: -1px;
  cursor: pointer;
}

.status-booked-other {
  background: rgb(200, 201, 204);
  margin-top: -1px;
  margin-bottom: -1px;
  cursor: pointer;
}

.status-pending-user,
.status-pending-other {
  background: rgb(239, 243, 13);
  margin-top: -1px;
  margin-bottom: -1px;
  cursor: pointer;
}

.panel-selected {
  opacity: .4;
}
